html, body {
  height: 100%;
}

#root {
  height: inherit;
}

.App {
  text-align: center;
  height: inherit;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  font-weight: bold;
  font-size: larger;
}
